{{ define "media_entries" }}
    {{ range .MediaRows }}
        {{ template "media_entry" . }}
    {{ end }}
    {{ if ne .NextPage -1 }}
        <tbody hx-get="media/entries?page={{ .NextPage }}&sortKey={{ .SortInfo.Key }}&sortOrder={{ .SortInfo.Order }}"
               hx-trigger="revealed" hx-swap="outerHTML" hx-indicator="#loading-skeleton">
        </tbody>
    {{ end }}
{{ end }}