name: CI/CD Pipeline

on: [ push ]

permissions:
  contents: write

jobs:
  test-goreleaser-config:
    name: Test goreleaser config
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v6
        with:
          args: check

  test-and-build:
    name: Test and build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.6

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true

      - name: Install dependencies
        run: go mod download

      - name: Test
        run: go test ./...

      - name: Build
        run: goreleaser build --snapshot --clean --single-target

  package:
    name: Package Application
    needs:
      - test-and-build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.6

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true

      - name: Build and release bundled backend application
        if: startsWith(github.ref, 'refs/tags/')
        run: goreleaser release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
